<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="subscriptionId" value="[your subscription id]" />
    <add key="resourceGroup" value="[your resource group name]" />
    <add key="siteName" value="[site name]" />
    <add key="tenantId" value="[your tenant id]" />
    <add key="applicationId" value="[your application id]" />
    <add key="redirectUri" value='[redirect url]' />
  </appSettings>
</configuration>